<div style="text-align: center; margin-top: 40px;">
  <h1>Examen Angular - Meng Fei Dai</h1>
</div>

<div style="text-align: center; margin: 20px;">
  <h2>Gestión de Estudiantes</h2>
  <form (ngSubmit)="saveStudent()">
    <input [(ngModel)]="studentName" name="studentName" placeholder="Nombre" required>
    <input [(ngModel)]="studentEmail" name="studentEmail" placeholder="Email" type="email" required>
    <button type="submit">{{ selectedStudentId ? 'Actualizar' : 'Agregar' }}</button>
    <button type="button" (click)="clearStudentForm()">Limpiar</button>
  </form>

  <table border="1" style="text-align: center; margin: 0 auto; margin-top: 20px;margin-bottom: 20px">
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
    <tr *ngFor="let student of students">
      <td>{{ student.name }}</td>
      <td>{{ student.email }}</td>
      <td><button (click)="editStudent(student)">Editar</button></td>
      <td><button (click)="deleteStudent(student.id)">Borrar</button></td>
    </tr>
  </table>

  <hr>

  <h2>Gestión de Asignaturas</h2>
  <form (ngSubmit)="saveSubject()">
    <input [(ngModel)]="subjectName" name="subjectName" placeholder="Asignatura" required>
    <input [(ngModel)]="subjectDescription" name="subjectDescription" placeholder="Descripción" required>
    <button type="submit">{{ selectedSubjectId ? 'Actualizar' : 'Agregar' }}</button>
    <button type="button" (click)="clearSubjectForm()">Limpiar</button>
  </form>

  <table border="1" style="text-align: center; margin: 0 auto; margin-top: 20px;margin-bottom: 20px">
    <tr>
      <th>Asignatura</th>
      <th>Descripción</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
    <tr *ngFor="let subject of subjects">
      <td>{{ subject.name }}</td>
      <td>{{ subject.description }}</td>
      <td><button (click)="editSubject(subject)">Editar</button></td>
      <td><button (click)="deleteSubject(subject.id)">Borrar</button></td>
    </tr>
  </table>

  <hr>

  <h2>Gestión de Calificaciones</h2>
  <form (ngSubmit)="saveGrade()">
    <select [(ngModel)]="selectedStudentForGrade" name="selectedStudentForGrade" required>
      <option [value]="''" disabled>Seleccione Estudiante</option>
      <option *ngFor="let student of students" [value]="student.id">{{ student.name }}</option>
    </select>
    <select [(ngModel)]="selectedSubjectForGrade" name="selectedSubjectForGrade" required>
      <option [value]="''" disabled>Seleccione Asignatura</option>
      <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
    </select>
    <input [(ngModel)]="gradeValue" name="gradeValue" type="number" placeholder="Calificación" required>
    <button type="submit">{{ selectedGradeId ? 'Actualizar' : 'Agregar' }}</button>
    <button type="button" (click)="clearGradeForm()">Limpiar</button>
  </form>

  <table border="1" style="text-align: center; margin: 0 auto; margin-top: 20px; margin-bottom: 20px">
    <tr>
      <th>Estudiante</th>
      <th>Asignatura</th>
      <th>Calificación</th>
      <th>Editar</th>
      <th>Borrar</th>
    </tr>
    <tr *ngFor="let grade of grades">
      <td>{{ getStudentNameById(grade.studentId) }}</td>
      <td>{{ getSubjectNameById(grade.subjectId) }}</td>
      <td>{{ grade.grade }}</td>
      <td><button (click)="editGrade(grade)">Editar</button></td>
      <td><button (click)="deleteGrade(grade.id)">Borrar</button></td>
    </tr>
  </table>
</div>
